@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Quattrocento&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  margin: 10px auto;
  width: 345px;
  height: 375px;
  background-color: #FFFFFE;
  border: 3px solid #AB9081; 
  position: relative;
}
.cardHeader{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  background-color: #F3E8E5;
  border-bottom: 3px solid #AB9081;
  height: 32px;
}
.abcStyle{
  background-color: #AB9081;
  color: #5E4F42;
  font-weight: bold;
  font-size: 24px;
  padding:0 5px;
  height: 30px;
}
.abcStyle span{
  background-color: #AB9081;
  font-family: 'century gothic';
  color: #5E4F42;
  font-weight: bold;
  font-size: 24px;
  padding:2px;
  height: 30px;
}
.cardHeader span{
  font-size: 24px;
  font-family: 'Quattrocento', serif;
  color: #5E4F42;
  padding: 2px;
  width: 100%;
  max-width: 90%; /* Set the desired maximum width */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cardHeader i{
  font-size: 27px;
  color: #5E4F42;
  padding-right: 3px;
}
.cardBody{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  width: 100%;
  height: 100%;
}
.cardDescription{
  width: 100%;
  background-color: #F3E8E5;
  padding: 10px;
  height: 80%;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}
.cardDescription p{
  font-size: 24px;
  font-family: 'Fanwood Text', serif;
  color: #5E4F42;
  padding: 2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9; /* Adjust the number of lines to show before ellipsis */
  overflow: hidden;
}
.cardFooter{
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  width: 100%;
  height: 30px;
  overflow: hidden;
}
.cardFooter span{
  font-size: 24px;
  font-family: 'Fanwood Text', serif;
  color: #5E4F42;
}

.deleteButton{
  width: 50px;
  height: 50px;
  background: transparent;
  font-weight: bold;
  font-size: 24px;
  border: none;
  cursor: pointer;
  padding: 5px;
  right: 4px;
  bottom: 0px;
  position: absolute;
}
.deleteButton i{
  color: #AB9081;
}
.deleteButton:hover{
  color: #5E4F42;
  background:transparent;
}
