.tasks {
  width: 100%;
  max-width: 1200px; /* Adjust the max-width based on your design */
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.header > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header p {
  color: #ffbd59;
  font-size: 14px;
  font-family: "Quattrocento", serif;
  font-weight: 700;
  padding: 10px 0;
}

.header span {
  background: #333333;
  color: #d9d9d9;
  padding: 5px 10px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
  font-family: "Quattrocento", serif;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0; /* Remove the negative margin */
}

.list > * {
  width: 100%;
  margin-bottom: 16px;
}

/* Media query for screens between 440px and 1076px */
@media screen and (min-width: 740px) and (max-width: 1076px) {
  .list > * {
    width: calc(50% - 16px);
    margin: 0 8px 16px 8px; /* Adjust margin for spacing between cards */
  }
}

/* Media query for screens wider than or equal to 1078px */
@media screen and (min-width: 1078px) {
  .list > * {
    width: calc(33.333% - 16px);
    margin: 0 8px 16px 8px; /* Adjust margin for spacing between cards */
  }
}

/* Media query for screens below 440px */
@media screen and (max-width: 439px) {
  .list > * {
    width: 100%;
    margin: 0 0 16px 0;
  }
}

.search {
  background-color: #f2e9e2;
  border: 2px solid #b48770;
  color: #614d40;
  font-family: "Quattrocento", serif;
  border-radius: 10px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  min-width: 345px;
}

.queryButton {
  background-color: #f2e9e2;
  border: 2px solid #b48770;
  color: #614d40;
  font-family: "Quattrocento", serif;
  border-radius: 10px;
  padding: 10px;
  margin-left: 5px;
}
