.tasks {
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.header > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header p {
  color: #ffbd59;
  font-size: 14px;
  font-family: 'Quattrocento', serif;
  font-weight: 700;
  padding: 10px 0;
}

.header span {
  background: #333333;
  color: #D9D9D9;
  padding: 5px 10px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Quattrocento', serif;
}

.list {
  display: flex;
  flex-direction: column;
}
.search{
  background-color: #f2e9e2;
  border: 2px solid #b48770;
  color: #614d40;
  font-family: 'Quattrocento', serif;
  border-radius: 10px;
  min-width: 345px;
}